/* Reset alle marges van alle elementen */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Definieer de achtergrondkleur van de HTML-pagina */
html {
  background-color: #292929;
}

/* Definieer de stijl van alle witte links */
.white {
  color: white;
  text-decoration: none;
}

/* Definieer de stijl van de header */
header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #516582;
  padding: 20px;
  align-items: center;
}

/* Definieer de stijl van het logo */
header img {
  height: 100px;
  width: 100px;
}

/* Definieer de stijl van de navigatie */
header nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: whitesmoke;
  font-size: 1.2rem;
}
